[Desktop Entry]
Encoding=UTF-8
Name=Ascension Core
Comment=Connect to the Ascension P2P Network
Comment[de]=Verbinde mit dem Ascension peer-to-peer Netzwerk
Comment[fr]=Ascension, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ascension, eşten eşe kriptografik sanal para birimi
Exec=ascension-qt %u
Terminal=false
Type=Application
Icon=ascension128
MimeType=x-scheme-handler/ascension;
Categories=Office;Finance;
